@import "base-design";

.classification-wizard-help {
    color: #646464;
    line-height: 1.5em;
}

.classification-wizard-superscript {
    color:white;
    @extend %fonts;
    background-color: #646464;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: -9px;
    margin-left: -19px;
    vertical-align: top;
}

.classification-wizard-icon {
    height: 57px;
    width: 57px;
}
.wizard-intro {
    display: flex;
    padding: 0 100px;
}
.sub-heading {
    color: $black-pearl;
    @extend %fonts;
    font-size: 15px;
    font-weight: bold;
    line-height: 27px;
}
.wizard-huge-button {
    display: inline-block;
    margin: auto;
    text-align: center;
    border: #646464 solid 1px;
    padding: 100px 0;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-sizing: border-box;
}

.classification-wizard-help-text {
    margin-top: 20px;
}

.edit-featureset-dialog-categories {
    border-top: 1px $light-slate-grey solid;
}
.edit-featureset-dialog-category {
    padding: 10px;
    &.category-active {
        background-color: #eee;
    }
    border-bottom: 1px $light-slate-grey solid;
}

.edit-featureset-dialog-controls {
    display: flex;
    flex-direction: column;
    height: 500px;
}
.edit-featureset-dialog-update {
    margin-top: auto;
}
.edit-featureset-dialog-features {
    padding-top: 20px;
}
.feature-set-table-empty {
    text-align: center;
    padding: 20px;
}

.samples-of-feature-examples {
    height: 500px;
    overflow: auto;
    padding: 10px;
}