
<!--<div style="float:left;">-->
    <!--<h3>-->
        <!--<span ng-show="$ctrl.ExperimentActionMode=='SelectOnlineCorpus'">Choose From Collection</span>-->
        <!--<span ng-show="$ctrl.ExperimentActionMode=='BrowseThisComputer'">Upload Text</span>-->
    <!--</h3>-->

<!--</div>-->
<!--<div style="float:right;padding-top:26px;padding-right:5px">-->
    <!--OR,-->
    <!--<a ng-click="$ctrl.changeActionMode('BrowseThisComputer')" ng-show="$ctrl.ExperimentActionMode=='SelectOnlineCorpus'">Upload a file</a>-->
    <!--<a ng-click="$ctrl.changeActionMode('SelectOnlineCorpus')" ng-show="$ctrl.ExperimentActionMode=='BrowseThisComputer'">Choose from collection</a>-->

<!--</div>-->
<!--<div style="clear:both;"></div>-->